@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --violet: #5e35b1;
  --green: rgba(4, 171, 151, 1);
  --grey-text: #4c4c4c;
  --dark-grey-text: #5a5a5a;
}

html, body {
  @apply h-screen w-full text-[.95rem] sm:text-[1rem] overflow-hidden;
}

html {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: var(--grey-text);
  position: fixed;
}

.essgee-bg {
  @apply h-full w-full;
  position: fixed;
  top: 0;
  opacity: .01;
  background-image: url('assets/bg.svg');
  background-repeat: repeat-x;
  z-index: -99;
}

.gradient-text {
  background: linear-gradient(to right, var(--green), var(--violet));
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, .2);
  background-clip: text;
  color: rgba(0, 0, 0, .8);
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
  }
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.markdownPreviewer__preview .essgee-page {
  @apply overflow-x-hidden;
}

.markdownPreviewer__preview h1 {
  @apply !mt-0 text-violet-600;
  display: block;
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin: 0.67em 0;
  font-weight: bold;
}

.markdownPreviewer__preview h2 {
  display: block;
  font-size: 1.5em;
  margin: 0.83em 0;
  font-weight: bold;
}

.markdownPreviewer__preview h3 {
  display: block;
  font-size: 1.17em;
  margin: 1em 0;
  font-weight: bold;
}

.markdownPreviewer__preview h4 {
  display: block;
  margin: 1.33em 0;
  font-weight: bold;
}

.markdownPreviewer__preview h5 {
  display: block;
  font-size: .83em;
  margin: 1.67em 0;
  font-weight: bold;
}

.markdownPreviewer__preview h6 {
  display: block;
  font-size: .67em;
  margin: 2.33em 0;
  font-weight: bold;
}

.markdownPreviewer__preview a {
  /*@apply text-blue-300*/
}

.markdownPreviewer__preview li {
  list-style: inside;
}

.markdownPreviewer__preview ::marker {
  display: inline;
}

.markdownPreviewer__preview pre {
  @apply text-xs bg-black p-[16px] text-white;
}

/* END markdownPreviewer__preview */

/* portfolio */
.essgee-portfolio {
  @apply p-4 gap-4 w-full h-full mt-[80px] flex flex-col;
}

.portfolio-item {
  @apply flex flex-col h-screen relative;

  h1 {
    font-size: 2rem;
    /*line-height: 2.25rem;*/
    @apply absolute h-[50px] flex align-middle;
  }

  code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
  }

  .progress {
    @apply sticky top-[0px] flex justify-end right-0;

    padding: 0;

    svg {
      transform: translateY(0px) rotate(-90deg) translateX(0px);

      .indicator {
        stroke: var(--violet);
      }
    }

    .bg {
      stroke: black;
      opacity: 0.2;
    }
  }

  circle {
    stroke-dashoffset: 0;
    stroke-width: 5%;
    fill: whitesmoke;
  }

  section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;

    div {
      @apply w-full h-full;
      position: relative;
    }
  }
}

/* END portfolio */

.essgee-page {
  @apply gap-4 flex flex-col max-w-[1020px] m-auto w-full h-screen pt-[80px] overflow-x-auto;
}
